OPENAI_API_KEY=""

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""


POSTGRES_DB_URI="postgresql://postgres:postgres@localhost:5432/checkpoint_lgraph?sslmode=disable"
DB_PATH = "data.sb"

# Google Project related variables
GOOGLE_PROJECT_CREDENTIALS_PATH = "google_credentials.json"
GOOGLE_CLIENT_ID = "client-id"
GOOGLE_CLIENT_SECRET = "client_secret"
GOOGLE_TOKEN_URL = "https://oauth2.googleapis.com/token"

# The API KEY from `https://serpapi.com/` to google web search
SERP_API_KEY = ""

# Logging level (DEBUG -- INFO -- WARNING -- ERROR -- CRITICAL)
LOG_LEVEL="DEBUG"
LOG_TO_FILE="false"
LOG_FILE_PATH=""

# Secret to validate the X-Api-Key token
SECRET_KEY=""

# The API KEY from `https://hub.guardrailsai.com/keys`
GUARDRAILS_API_KEY=""
