OPENAI_API_KEY=""

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""


POSTGRES_DB_URI="postgresql://postgres:postgres@localhost:5432/checkpoint_lgraph?sslmode=disable"

